<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<h2>作者:<%=user.Nickname%></h2>
<a id="addChapter" href="javascript:void(0)">增加标题</a>
<a id="addSection" href="javascript:void(0)">增加段落</a>
<a id="addImage" href="javascript:void(0)">增加图片</a>
<a id="sub">sub</a>
<div id="board"></div>

</body>

<script type="text/javascript" src="javascripts/jquery-2.1.3.js"></script>
<script type="text/javascript">
var chapter = '<div><a>标题：</a><input type="text" class="article chapter"><a class="remove">X</a></div>'
var section = '<div><a>段落：</a><input type="text" class="article section"><a class="remove">X</a></div>'
var image = '<div><a>图片：</a><input type="file" class="article image"><a class="remove">X</a></div>'
          + '<div class="showBar"></div>'

$('#addChapter').click(function () {
    $('#board').append(chapter)
})
$('#addSection').click(function () {
    $('#board').append(section)
})

var imageIndex = 0;
$('#addImage').click(function () {
    $('#board').append(image)
    bindShow(imageIndex);
    imageIndex++;
});

//预览图片
function bindShow(imageIndex){
    $('.image').change(function () {
        var fil = this.files;
        for (var i = 0; i < fil.length; i++) {
            var reader = new FileReader();
            reader.readAsDataURL(fil[i]);
            reader.onload = function()
            {
                $('.showBar').eq(imageIndex).html("<img src='"+reader.result+"'>");
            };
        }
    });
}

//上传单个图片 返回服务器图片路径
function updateImg(file){
    var imageUrl = null;
    var formData = new FormData();
    //formData.append('articleImg', $('#uu')[0].files[0]);  ／／上传的参数
    formData.append('articleImg', file);
    $.ajax({
        url:'/user/uploadArticleImage',
        type:"post",
        processData: false,
        contentType: false,
        data:formData,
        async: false,
        success:function(data){
            if(data.url != 'error'){
                imageUrl = data.url;
            }else{
                //包装图像上传错误
            }
        }
    });
    return imageUrl;
}

//提交文章
function submitArticle(){
    var articleArr = []; //待上传的文章字段数组
    var allContent = $('.article');
    var contentNum = allContent.length;
    for(var i = 0;i<contentNum;i++){
        var content = allContent.eq(i);
        //进行判断 如果是文本，存入，如果是图片，先同步上传拿到服务器端url，再将url存入
        if(content.is('.chapter')){
            //章节标题
            articleArr.push({chapter:content.val()});
        }else if(content.is('.section')){
            //段落
            articleArr.push({section:content.val()});
        }else if(content.is('.image')){
            //图片
            var imgUrl = updateImg(content[0].files[0]);
            articleArr.push({section:imgUrl});
        }
    }
    $.ajax({
        url:'/user/saveArticle',
        type:'post',
        dataType:'json',
        data: JSON.stringify({'article':articleArr}),
        contentType:"application/json",
        success:function(data){
            if(data.result != 'error'){
                //保存成功之后，返回url跳转到该文章
                window.location = data.result;
            }

        }
    })
}

$('#sub').click(function(){
    submitArticle();
})
</script>
</html>