<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>登录页面</h3>
    用户名：<input type="text" id="usm" name="username">
    密码：<input type="text"id="pwd" name="password">
    <span id="massage"></span>
    <input id="btn" type="button" value="登录">
</body>
<script type="text/javascript" src="javascripts/jquery-2.1.3.js"></script>
<script type="text/javascript">
    $('#btn').click(function () {
        var usm = $('#usm').val();
        var pwd = $('#pwd').val();
        $.ajax({
            url: "/login",
            data:{username:usm,password:pwd},
            type: "POST",
            success:function (data) {
                switch (data.status){
                    case 1:
                        window.location = '/home';
                    case 2:
                        $('#massage').html('您的密码输入错误！');
                        break;
                    case 3:
                        $('#massage').html('用户名不存在！');
                        break;
                    default:break;
                }
            }
        });
    });
</script>
</html>